@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
   
}
body{
    font-family: 'Lexend Deca', sans-serif;
    background-color:  hsl(0, 0%, 95%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
}
.global_container{
    max-width: 960px;
    margin: 0 auto;
    
}
.main_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 6px;
    margin: 2rem;
    overflow: hidden;
}
.third{
    padding: 40px;
}
.sedans{
    background-color:hsl(31, 77%, 52%);
}
.suvs{
    background-color:hsl(184, 100%, 22%);
}
.luxury{
    background-color:hsl(179, 100%, 13%);
}
.third h1{
    padding-top: 32px;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-size: 36px;
}
.third p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5;
    padding-top:32px;   
    font-size: 15px;
    padding-bottom:60px;

}
.third a{
    padding-bottom:20px ;
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    font-size: 12px;
    font-weight: 700;
    padding: 16px 35px;
    border-radius: 25px;
    margin-bottom: 18px;
    display: inline-block;
    border: 2px solid hsl(0, 0%, 95%);
    transition: all .5s ease-in-out;
}
.sedans a {
    color: hsl(31, 77%, 52%);
}
.suvs a {
    color: hsl(184, 100%, 22%);
}
.luxury a{
    color: hsl(179, 100%, 13%);
}
.third a:hover {
    color:hsl(0, 0%, 95%);
    background: transparent;
}
@media only screen and (max-width:768px){
    .main_container{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width:425px){
    .main_container{
        margin: 2rem .5rem; 
    }
}